
2_0_v1_create_ds.ipynb
2_0_v1_create_ds.py
data/FLX_AA-Flx_BIF_LATEST.xlsx
data/FLX_AR-SLu_FLUXNET2015_FULLSET_2009-2011_1-3.zip
data/FLX_AR-Vir_FLUXNET2015_FULLSET_2009-2012_1-3.zip
data/meta.xlsx
get_sunrise_set.ipynb
output/fluxdata/FLX_AA-Flx_BIF_LATEST.xlsx
output/fluxdata/FLX_AR-SLu_FLUXNET2015_FULLSET_2009-2011_1-3/FLX_AR-SLu_FLUXNET2015_AUXMETEO_2009-2011_1-3.csv
output/fluxdata/FLX_AR-SLu_FLUXNET2015_FULLSET_2009-2011_1-3/FLX_AR-SLu_FLUXNET2015_AUXNEE_2009-2011_1-3.csv
output/fluxdata/FLX_AR-SLu_FLUXNET2015_FULLSET_2009-2011_1-3/FLX_AR-SLu_FLUXNET2015_ERAI_DD_1989-2014_1-3.csv
output/fluxdata/FLX_AR-SLu_FLUXNET2015_FULLSET_2009-2011_1-3/FLX_AR-SLu_FLUXNET2015_ERAI_HH_1989-2014_1-3.csv
output/fluxdata/FLX_AR-SLu_FLUXNET2015_FULLSET_2009-2011_1-3/FLX_AR-SLu_FLUXNET2015_ERAI_MM_1989-2014_1-3.csv
output/fluxdata/FLX_AR-SLu_FLUXNET2015_FULLSET_2009-2011_1-3/FLX_AR-SLu_FLUXNET2015_ERAI_WW_1989-2014_1-3.csv
output/fluxdata/FLX_AR-SLu_FLUXNET2015_FULLSET_2009-2011_1-3/FLX_AR-SLu_FLUXNET2015_ERAI_YY_1989-2014_1-3.csv
output/fluxdata/FLX_AR-SLu_FLUXNET2015_FULLSET_2009-2011_1-3/FLX_AR-SLu_FLUXNET2015_FULLSET_DD_2009-2011_1-3.csv
output/fluxdata/FLX_AR-SLu_FLUXNET2015_FULLSET_2009-2011_1-3/FLX_AR-SLu_FLUXNET2015_FULLSET_HH_2009-2011_1-3.csv
output/fluxdata/FLX_AR-SLu_FLUXNET2015_FULLSET_2009-2011_1-3/FLX_AR-SLu_FLUXNET2015_FULLSET_MM_2009-2011_1-3.csv
output/fluxdata/FLX_AR-SLu_FLUXNET2015_FULLSET_2009-2011_1-3/FLX_AR-SLu_FLUXNET2015_FULLSET_WW_2009-2011_1-3.csv
output/fluxdata/FLX_AR-SLu_FLUXNET2015_FULLSET_2009-2011_1-3/FLX_AR-SLu_FLUXNET2015_FULLSET_YY_2009-2011_1-3.csv
output/fluxdata/FLX_AR-Vir_FLUXNET2015_FULLSET_2009-2012_1-3/FLX_AR-Vir_FLUXNET2015_AUXMETEO_2009-2012_1-3.csv
output/fluxdata/FLX_AR-Vir_FLUXNET2015_FULLSET_2009-2012_1-3/FLX_AR-Vir_FLUXNET2015_AUXNEE_2010-2012_1-3.csv
output/fluxdata/FLX_AR-Vir_FLUXNET2015_FULLSET_2009-2012_1-3/FLX_AR-Vir_FLUXNET2015_ERAI_DD_1989-2014_1-3.csv
output/fluxdata/FLX_AR-Vir_FLUXNET2015_FULLSET_2009-2012_1-3/FLX_AR-Vir_FLUXNET2015_ERAI_HH_1989-2014_1-3.csv
output/fluxdata/FLX_AR-Vir_FLUXNET2015_FULLSET_2009-2012_1-3/FLX_AR-Vir_FLUXNET2015_ERAI_MM_1989-2014_1-3.csv
output/fluxdata/FLX_AR-Vir_FLUXNET2015_FULLSET_2009-2012_1-3/FLX_AR-Vir_FLUXNET2015_ERAI_WW_1989-2014_1-3.csv
output/fluxdata/FLX_AR-Vir_FLUXNET2015_FULLSET_2009-2012_1-3/FLX_AR-Vir_FLUXNET2015_ERAI_YY_1989-2014_1-3.csv
output/fluxdata/FLX_AR-Vir_FLUXNET2015_FULLSET_2009-2012_1-3/FLX_AR-Vir_FLUXNET2015_FULLSET_DD_2009-2012_1-3.csv
output/fluxdata/FLX_AR-Vir_FLUXNET2015_FULLSET_2009-2012_1-3/FLX_AR-Vir_FLUXNET2015_FULLSET_HH_2009-2012_1-3.csv
output/fluxdata/FLX_AR-Vir_FLUXNET2015_FULLSET_2009-2012_1-3/FLX_AR-Vir_FLUXNET2015_FULLSET_MM_2009-2012_1-3.csv
output/fluxdata/FLX_AR-Vir_FLUXNET2015_FULLSET_2009-2012_1-3/FLX_AR-Vir_FLUXNET2015_FULLSET_WW_2009-2012_1-3.csv
output/fluxdata/FLX_AR-Vir_FLUXNET2015_FULLSET_2009-2012_1-3/FLX_AR-Vir_FLUXNET2015_FULLSET_YY_2009-2012_1-3.csv
output/fluxnet2015/AR-SLu_MF_LAT_-33.4648_LON_-66.4598.csv
output/fluxnet2015/AR-Vir_ENF_LAT_-28.2395_LON_-56.1886.csv
output/sites_info.yaml
output/temp_ds_AR-SLu.pkl
output/temp_ts_AR-SLu.pkl
